deepface==0.0.92
groq==0.18.0
librosa==0.10.2.post1
opencv_contrib_python==4.10.0.84
opencv_python==4.11.0.86
pyttsx3==2.90
SpeechRecognition==3.10.4
SpeechRecognition==3.12.0
torch==2.3.1
torch==2.4.1
transformers==4.44.0
